<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{layouts/main_layout :: head(title = 'Social Geeking')}">
</head>

<body>
<nav
        th:replace="~{layouts/main_layout :: nav}"
        style="z-index: 9999;"
></nav>

<main class="page">
  <section class="clean-block features">
    <div class="container" style="padding-top: 20px;">
      <div class="d-block" style="margin: 10px;margin-bottom: 20px;">
        <div
                class="row d-xl-flex justify-content-xl-center"
                style="margin: 0;padding-top: 20px;padding-bottom: 20px;"
        >
          <div
                  class="col-12 d-flex justify-content-center justify-content-sm-center"
                  style="padding: 0;margin: 10px;"
          >
            <div
                    class="border rounded-circle shadow-sm d-flex"
                    id="profile-pic"
                    style='background-image: url("assets/img/port.jpg");height: 180px;width: 180px;'
            ></div>
          </div>
        </div>
        <div
                class="row d-xl-flex justify-content-xl-center"
                style="margin: 0;padding-top: 20px;padding-bottom: 20px;"
        >
          <div
                  class="col d-flex flex-column align-content-center justify-content-xl-center align-items-xl-center"
          >
            <div class="row">
              <div
                      class="col-12 d-flex justify-content-center align-items-center align-content-center"
              >
                <h2
                        class="display-4 text-center text-info"
                        style="font-size: 40px;width: 100%;"
                >
                  John Doe
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p
                        class="text-center text-secondary"
                        style="width: 100%;font-size: 18px;"
                >
                  Software Engineer, Web-Developer with 10 years of
                  experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col">
            <h4 class="text-center">All Posts</h4>
          </div>
        </div>
        <!-- Start: Call To Action -->
        <div
                class="border rounded clean-block add-on call-to-action"
                style="padding-top: 30px;padding-bottom: 30px;margin-bottom: 5px;"
        >
          <h3 style="font-size: 25px;">Lorem Ipsum dolor</h3>
          <button class="btn btn-outline-primary btn-sm" type="button">
            Read More
          </button>
        </div>
        <!-- End: Call To Action -->
      </div>
    </div>
  </section>
</main>
<!-- Start: Footer White -->
<footer class="page-footer">
  <div class="footer-copyright" style="margin: 0;padding: 0;">
    <p>© 2019 Copyright Text</p>
  </div>
</footer>
<!-- End: Footer White -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>
</html>
