<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{layouts/main_layout :: head(title = 'Social Geeking')}">
  </head>

  <body>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>

    <!-- Start: Registration Form with Photo -->
    <div
      class="register-photo"
      role="form"
      style="background-color: rgb(255,255,255);"
    >
      <!-- Start: Form Container -->
      <div class="form-container" style="max-width: 700px;">
        <form method="POST" style="padding-right: 20px;padding-left: 20px;">
          <div class="form-row" style="margin-bottom: 3vh;">
            <div class="col">
              <h2 class="text-center"><strong>Create</strong> an account.</h2>
            </div>
          </div>
          <div class="form-row" style="margin-bottom: 3vh;">
            <div
              class="col d-lg-flex justify-content-lg-center align-items-lg-center"
            >
              <input
                class="border rounded form-control"
                type="text"
                name="name"
                placeholder="Name"
                style="max-width: 500px;background-color: rgba(113,210,255,0.27);"
                required autofocus />
            </div>
          </div>
          <div class="form-row" style="margin-bottom: 3vh;">
            <div
              class="col d-lg-flex justify-content-lg-center align-items-lg-center"
            >
              <input
                class="border rounded form-control"
                type="email"
                name="email"
                placeholder="Email"
                style="max-width: 500px;background-color: rgba(113,210,255,0.27);"
                required autofocus/>
            </div>
          </div>
          <div class="form-row" style="margin-bottom: 3vh;">
            <div
              class="col d-lg-flex justify-content-lg-center align-items-lg-center"
            >
              <input
                class="border rounded form-control"
                type="password"
                name="password"
                placeholder="Password"
                style="max-width: 500px;background-color: rgba(113,210,255,0.27);"
                required/>
            </div>
          </div>
          <div class="form-row" style="margin-bottom: 3vh;">
            <div
              class="col d-lg-flex justify-content-lg-center align-items-lg-center"
            >
              <input
                class="border rounded form-control"
                type="password"
                name="password-repeat"
                placeholder="Password (repeat)"
                style="max-width: 500px;background-color: rgba(113,210,255,0.27);"
                required/>
            </div>
          </div>
          <div class="form-row" style="padding-bottom: 3vh;">
            <div class="col d-lg-flex justify-content-lg-center">
              <button
                class="btn btn-primary btn-block d-lg-flex justify-content-lg-center"
                type="submit"
                style="max-width: 400px;margin-top: 15px;background-color: #3aabe0;"
              >
                Sign Up
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- End: Form Container -->
    </div>
    <!-- End: Registration Form with Photo -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
