<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <title th:text="${title}">Social Geeking</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"
  />
  <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
  />
  <link rel="stylesheet" th:href="@{/css/fontawesome5-overrides.min.css}"/>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
  />
  <link rel="stylesheet" th:href="@{/css/smoothproducts.css}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script th:src="@{/css/smoothproducts.min.js}" ></script>
  <script th:src="@{/css/theme.js}"></script>
</head>

<body>
<nav
        class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
>
  <div class="container">
    <a class="navbar-brand logo" th:href="@{/}">Social <strong>Geeking</strong></a
    ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navcol-1"
  >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navcol-1" >
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" th:href="@{/}">posts</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" th:href="@{/geeks}">geeks</a>
        </li>

        <!-- if user is signed in -->
        <li class="nav-item" role="presentation" sec:authorize="isAuthenticated()">
          <a class="nav-link" th:href="@{/profile}">profile</a>
        </li>

        <li class="nav-item" role="presentation">
        <form
                method="POST"
                th:action="@{/logout}"
                sec:authorize="isAuthenticated()"
        >
            <button
                    class="nav-link link text-danger d-xl-flex justify-content-xl-center align-items-xl-center"
                    style="border: none; background: none;"

            ><i class="fa fa-sign-out" id="navbar-icon"></i>&nbsp;logout</button
            >
        </form>
          </li>

        <!-- if user is not signed in -->

              <li class="nav-item" role="presentation " sec:authorize="!isAuthenticated()" >
          <a
                  class="nav-link text-primary d-xl-flex justify-content-xl-center align-items-xl-center"
                  th:href="@{/login}"
          ><i class="fa fa-sign-in" id="navbar-icon"></i>&nbsp;login</a
          >
        </li>

        <li class="nav-item" role="presentation" sec:authorize="!isAuthenticated()">
          <a
                  class="nav-link text-success d-xl-flex justify-content-xl-center align-items-xl-center"
                  th:href="@{/register}"
          ><i class="fa fa-user-plus" id="navbar-icon"></i
          >&nbsp;register</a
          >
        </li>


      </ul>
    </div>
  </div>
</nav>
<div
        class="container"
        style="padding: 20px;margin-top: 100px;min-height: 600px;padding-top: 0;"
>
  <p>Content goes here</p>
</div>
<!-- Start: Footer White -->
<footer class="page-footer" style="margin-top: 30px;">
  <div class="footer-copyright" style="margin: 0;padding: 0;">
    <p>© 2019 Copyright Text</p>
  </div>
</footer>
<!-- End: Footer White -->

</body>
</html>
