<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head  th:replace="~{layouts/main_layout :: head(title = 'Social Geeking')}">

</head>

<body
        class="d-flex flex-column"
        id="hero"
        style="background-color: #ffffff;height: 100%;"
>
<!-- Start: Navigation with Button -->
<div>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
</div>th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">
    content goes here
</div>

</body>
</html>