<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head
        th:replace="~{layouts/main_layout :: head(title = 'socialgeeking - Spring Boot Reddit Clone')}"
>
</head>

<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>

<div class="container" style="margin-top: 10vh;">
    <div class="alert alert-success" role="alert" th:if="${success}">
        New post was created!
    </div>

    <!-- Post -->

    <div class="row">
        <div class="card col-10" style="">
            <div class="card-body" style="padding: 2vh;padding-bottom: 1vh;">
                <h5 class="card-title" th:text="${post.title}" style="margin-bottom: 1vh;">
                    Title
                </h5>
                <span
                        class="text-muted card-subtitle mb-2"
                        style="margin-bottom: 4vh;"
                >submitted
              <time
                      th:title="${post.getCreationDate()}"
                      th:datetime="${post.getCreationDate()}"
                      class="live-timestamp"
                      th:text="${post.getPrettyTime()}"
              >1 hour(s)</time
              >
              by
              <a href="/" class="author" th:text="${post.createdBy}"
              >goRuslan</a
              ></span
                >
                <p class="card-text" th:text="${post.url}" style="margin-top: 1.5vh; margin-bottom: 2vh;">
                    Some Text Here.
                </p>

<!--                <div class="form-group d-flex flex-row justify-content-between align-items-center align-content-center">-->
<!--              <textarea class="border rounded"-->
<!--                        style="width: 90%;margin-right: 1vh;margin-top: 2vh;padding: 1vh;"-->
<!--                        placeholder="Your comment goes here...">-->
<!--              </textarea>-->

<!--                    <button class="btn btn-primary border-primary-color"-->
<!--                            type="button"-->
<!--                            style="background-color: #3aabe0;">-->
<!--                    Submit-->
<!--                </button>-->
<!--                </div>-->

                <div class="row addcomment" sec:authorize="hasRole('ROLE_USER')">
                    <div class="col-10">
                        <form id="frmAddComment" method="POST" th:action="@{/post/comments}" th:object="${comment}">
                            <input type="hidden" th:field="*{post}"/>
                            <div class="form-group">
                                <textarea class="form-control" id="comment" rows="3" th:field="*{body}"></textarea>
                            </div>
                            <button type="submit" class="btn " style="color: white; ;background: rgb(58,171,224);">Add Comment</button>
                        </form>
                    </div>
                </div>





            </div>
        </div>
    </div>

    <span
            class=" row text-muted mb-2"
            th:text="|All ${post.getComments().size()} comments:|"
            style="margin: 2vh; margin-left: 0vh;"
    >All 21 comments: </span>

    <!-- Comment -->

    <div
            class="row col-10 d-flex d-lg-flex justify-content-center justify-content-lg-center"
             th:each="comment : ${post.getComments()}"
            style="margin-top: 1vh; margin-bottom: 1vh; border: 1px solid rgba(0,0,0,.125);"
    >
        <div
                class="col"
                style="margin: 1vh;padding-top: 1vh;"
        >

            <span class="text-muted card-subtitle mb-2"
                  style="margin-bottom: 4vh;">
              <time
                      th:title="${comment.getCreationDate()}"
                      th:datetime="${comment.getCreationDate()}"
                      class="live-timestamp"
                      th:text="${comment.getPrettyTime()}"
              >1 hour(s)
              </time>
              by
              <a href="/" class="author" th:text="${comment.createdBy}"
              >goRuslan</a
              ></span>


            <p class="body" th:text="${comment.getBody()}" style="margin-top: 1vh;">This is a test comment for the post This is a test comment for the postThis is a test comment for the postThis is a test comment for the postThis is a test comment for the postThis is a test comment for the post</p>
        </div>
    </div>
</div>

<br/><br/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
