<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{layouts/main_layout :: head(title = 'Social Geeking')}">
</head>

<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>

    <!-- Start: Contact Form Clean -->
    <div class="contact-clean" style="background-color: rgb(255,255,255);">
      <form
        id="frmAddLink"
        method="POST"
        th:action="@{/link/submit}"
        th:object="${link}"
        style="margin-top: 3vh;"
      >
        <h2 class="text-center">New Post</h2>
        <!-- Start: Success Example -->
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="title"
            placeholder="Title"
            required="required"
            th:field="*{title}"
          />
          <small th:errors="*{title}" style="color:red;"></small>
        </div>

        <!-- End: Success Example -->
        <div class="form-group">
          <textarea
            class="form-control"
            name="body"
            placeholder="Body"
            rows="14"
            required="required"
            th:field="*{url}"
          ></textarea>
          <small th:errors="*{url}" style="color:red;"></small>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Post</button>
        </div>
      </form>
    </div>
    <!-- End: Contact Form Clean -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
